doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href='/css/profile.css')
        title PyChess Profile
    body
        .container
            .left-container
                .home-container 
                    a(href="/")
                        img(src='/img/Home Icon.jpg' alt="Profile Icon")
                .profile-picture-container
                .left-container-logo
                    hr
                    img(src='/img/PyChess Logo.jpg' alt='PyChess Logo')
                    hr
                .profile-description-container
                    .userID-container 
                        h3 #{user.user_id}
                    .userEmail-container
                        h3 #{user.email}
            .right-container
                .header-container 
                    h2 Career Review
                .context-container
                    .win-container 
                        h4 Games Won: 
                        .progress-bar
                            span#winBar

                    .lose-container 
                        h4 Games Lost: 
                        .progress-bar
                            span#loseBar

                    .draw-container
                        h4 Games Drawn: 
                        .progress-bar
                            span#drawBar

                .winrate-container
                    h4 Win Rate
                    .circle-container
                        .circle#winRateCircle
                            span #{winRate}%
        
        script.
            const winRate = #{winRate};
            const loseRate = #{loseRate};
            const drawRate = #{drawRate};

        script(src="/js/career.js")